# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
*.iml

# Credentials
.env
terraform/terraform.tfvars
/etc/setenv.sh

# Test coverage
/coverage/
/node/
/terraform/.terraform/
/target/
